@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  color: #0F172A;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  max-width: 1920px;
  background-color: #E5E7EB; }

.menu__logo {
  height: 25px; }

.menu__logo-link {
  line-height: 0 !important; }

html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s all;
  line-height: 1.75rem; }

a {
  text-decoration: none;
  color: #334155; }

a:hover {
  color: #25a0f7; }

ul,
ol {
  list-style-type: none; }

.blue-highlight {
  color: #25a0f7;
  font-weight: 500; }

.pink-highlight {
  color: #EC4899;
  font-weight: 500; }

h2 {
  font-size: 48px;
  font-weight: 800; }

.page {
  background-color: #fff;
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px;
  font-weight: 600;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.menu__item {
  display: inline-block;
  margin-left: 30px;
  line-height: 1; }

.burger {
  display: none; }

.mobile-menu {
  display: none;
  z-index: 10; }

.main-page {
  min-height: calc(100vh - 87px);
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
  position: relative; }
  .main-page * {
    z-index: 2; }

.main-page__img {
  display: block;
  height: 95%;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  opacity: 0.3; }

.page__title {
  font-weight: 800;
  text-align: center;
  line-height: 1;
  margin-bottom: 45px; }

.main-page__title {
  font-size: 80px; }

.page__text {
  color: #334155;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px; }

.main-page__text {
  margin-bottom: 20px !important; }

.about__container {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }
  .about__container .page__text {
    width: 100%;
    font-size: 20px;
    text-align: justify; }
  .about__container .about__img {
    width: 100%; }
    .about__container .about__img img {
      display: block;
      height: 400px; }

.btn {
  background-color: #0F172A;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  outline: none;
  border: none;
  padding: 12px 24px;
  border-radius: 7px;
  font-weight: 600; }

.btn:hover {
  background-color: #334155; }

.page__span {
  display: block; }

.page-container__text {
  text-align: left;
  width: 100%;
  padding-right: 10%; }

.page-container__text span {
  margin: 30px 0; }

.page-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 40px auto;
  justify-content: space-between;
  align-items: center; }

.page-container__img {
  width: 70%; }

.page__subtitle {
  font-size: 28px;
  margin-bottom: 40px; }

.lessons-page__grid {
  width: 80%;
  margin: 0 auto; }

.lessons-page__item {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ccc;
  margin-top: -1px;
  border-left: 6px solid #25a0f7;
  cursor: pointer; }
  .lessons-page__item:hover {
    background-color: rgba(229, 231, 235, 0.5); }

.lessons-page__number {
  font-weight: 600;
  font-size: 45px;
  line-height: 1;
  color: #334155;
  padding: 20px;
  min-width: 150px;
  width: 150px;
  text-align: center; }

.lessons-page__text {
  padding: 20px 20px 20px 0; }

.lessons-page__name {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 4px;
  color: #0F172A; }

.lessons-page__info {
  color: #334155;
  font-size: 16px; }

.footer {
  background-color: #0F172A;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; }

.footer__img {
  height: 35px;
  display: block;
  cursor: pointer;
  margin: 0 10px;
  transition: 0s transform; }
  .footer__img:hover {
    transform: rotate(360deg);
    transition: 0.3s all; }

::-webkit-scrollbar {
  width: 0; }

@media (max-width: 545px) {
  body {
    font-size: 16px; }

  h2 {
    font-size: 37px; }

  * {
    line-height: 1.5rem; }

  .page__title {
    margin-bottom: 40px; }

  .lessons-page__number {
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    color: #334155;
    padding: 10px;
    min-width: 80px;
    width: 80px;
    text-align: center; }

  .lessons-page__name {
    font-size: 21px; }

  .lessons-page__info {
    font-size: 15px; } }
@media (max-width: 626px) {
  .menu__list {
    display: none; }

  .burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    position: relative; }

  .burger__span {
    width: 100%;
    height: 3px;
    text-align: center;
    background-color: #0F172A; }

  .lessons-page__grid {
    width: 100%;
    margin: 0 auto; }

  .mobile-menu {
    display: none;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #E5E7EB; }
    .mobile-menu a {
      color: #0F172A; }
    .mobile-menu .menu__list {
      display: block;
      margin-left: 0; }
    .mobile-menu .menu__link {
      display: block;
      width: 80vw;
      padding: 30px;
      margin-left: 0;
      font-size: 20px;
      border-bottom: 1px solid rgba(51, 65, 85, 0.4); }
      .mobile-menu .menu__link:hover {
        background-color: rgba(255, 255, 255, 0.3); }
    .mobile-menu .menu__item:last-child {
      border-bottom: none; }
    .mobile-menu .menu__item {
      margin-left: 0; }
    .mobile-menu .cross {
      position: fixed;
      top: 30px;
      right: 40px;
      cursor: pointer;
      font-size: 30px; } }
@media (max-width: 932px) {
  .about__container {
    width: 80%; }

  .main-page__title {
    font-size: 50px; } }
@media (max-width: 950px) {
  .main-page__img {
    position: absolute;
    left: 20%; } }
@media (max-width: 702px) {
  .about__container {
    width: 90%; } }
@media (max-width: 595px) {
  .main-page__img {
    position: absolute;
    left: 0; }

  .page__text {
    width: 100%;
    margin: 0; }

  .about__container {
    width: 100%;
    margin: 20px;
    flex-direction: column; }
    .about__container .page__text {
      text-align: center;
      margin-bottom: 48px; }
    .about__container .about__img {
      display: flex;
      order: 2;
      flex-direction: row;
      justify-content: center; } }
@media (max-width: 470px) {
  .main-page__title {
    font-size: 48px !important; } }
